<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
    <main class="card">
        <h1>URL Shortener Microservice</h1>
        <p>Teste en envoyant une URL :</p>

        <form action="/api/shorturl" method="POST">
            <input type="text" name="url" placeholder="https://freecodecamp.org" required />
            <button type="submit">Shorten</button>
        </form>

        <p class="hint">Exemple valide : https://www.example.com</p>
    </main>
</body>

</html>